<!DOCTYPE html>
<html>
  <head>
    <title>Show</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>

    </style>
  </head>
  <body>
      <div class="container">
        	<div class="row">
        		<div class="well">
              <table class="table">
                <thead>
                  <th>Confidential:</th>
                  <th>Occurrence:</th>
                  <th>Operator name</th>
                  <th>Local Date:</th>
                </thead>
                <tbody>
                 <td>{{audit.confidential}}</td>
                 <td>{{audit.occurrence}}</td>
                 <td>{{audit.operator_name }}</td>
             		 <td>{{audit.local}}</td>
                 <td><a class="btn btn-info" href="/edit/audit/{{audit._id}}">Edit</a></td>
                </tbody>
              </table>


      		</div>
      	</div>
      </div>
  </body>
</html>
